<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/about.css">
</head>
<body>
    {% include 'nav.html' %}
    <div id="about">
      <h2>About the site</h2>
      <p>
        Our site give you a chance to get the text from photo.</br>
        It can be very useful to use our product, if you are in IT sector because</br>
        you can take a photo of your code and then get the code in text-based way</br>
        with our site. </br>
      </p>
  </div>
</body>
</html>
