<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Image</title>
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/css/current_img.css">
  <link rel="stylesheet" href="/static/css/navbar.css">

</head>

<body>
  {% include 'nav.html' %}
<div class="row">
  <div class="column">
    <img class="img" src="../../media/{{ image }}" alt="Not found">
  </div>
  <div class="column">
      <textarea class= "textarea" name="text" rows="8" cols="80">{{text}}</textarea>
      <div>
        <button class="button" onclick="myFunction()">Play</button>
        <button class="button_delete"><a href="/current_image/delete/{{ id }}">Delete</button>
      </div>
  </div>
</div>
<script>
function myFunction() {
  var str = "{{text}}";
  console.log(str);
  var msg = new SpeechSynthesisUtterance(str);
  window.speechSynthesis.speak(msg);
}
</script>
</body>
