<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>List image page</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/list_image.css">

</head>
<body>
  {% include 'nav.html' %}
  <h1>Look at your images</h1>
  <ul>
    {% for image in images %}
      <div class="gallery">
        <a target="_blank" href="#">
        <img src="{{ image.cover.url}}" alt="{{ image.name }}" width="600" height="400">
        </a>
        <div class="desc"><h2>{{ image.name }}</h2></div>
      </div>
    {% endfor %}

  </ul>
</body>
</html>
