<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>List image page</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="../static/css/list_image.css">

</head>
<body>
  {% include 'nav.html' %}
  <h1>Look at your images</h1>
  <div class="row">
    {% for image in images %}
      <div class="column">
        <a href="/current_image/{{ image.id }}/">
        <img src="{{ image.cover.url}}" alt="{{ image.name }}" width="500" height="300">
        </a>

      </div>
    {% endfor %}


  </div>
</body>
</html>
