<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {% include 'nav.html' %}
    <h3 class="title">Login</h3>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {% for non_field_error in form.non_field_errors %}
            <p class="help is-danger">{{ non_field_error }}</p>
        {% endfor %}
        {% for field in form %}
            <div>
                <label for="{{ field.id_for_label }}" class="label">{{ field.html_name }}</label>
                {{ field }}
            {% for error in field.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
            </div>
        {% endfor %}
        <input type="submit" value="SIGN IN">
    </form>

</body>
</html>
