<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
	<link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    {% include 'nav.html' %}
    <form class="box" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {% for non_field_error in form.non_field_errors %}
            <p class="help is-danger">{{ non_field_error }}</p>
        {% endfor %}
        <h1>Login</h1>
        <input id="id_username" name="username" placeholder="Username" type="text" class="form-control">
        <input id="id_password" name="password" placeholder="Password" type="password" class="form-control">

        <input type="submit" value="SIGN IN">
    </form>

</body>
</html>
