<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
	<link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    {% include 'nav.html' %}
    <form class="box" action="{% url 'register' %}" method="post">
       {% csrf_token %}
       {% for non_field_error in form.non_field_errors %}
           <p class>{{ non_field_error }}</p>
       {% endfor %}
	   <h2>Register</h2>
	   <input id="id_username" name="username" placeholder="Username" type="text" class="form-control">
     <input id="id_email" name="email" placeholder="Email" type="email" class="form-control">
	   <input id="id_password" name="password" placeholder="Password" type="text" class="form-control">
     <input id="id_confirm_password" name="confirm_password" placeholder="Confirm Password" type="password" class="form-control">
     <input type="submit" value="SIGN UP">
    </form>

</body>
</html>
