<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Upload images</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/upload_image.css">
</head>
<body>
  {% include 'nav.html' %}

  <form method="post" enctype="multipart/form-data" class="box" id="form">
    {% csrf_token %}
    <input type="file" name="{{form.cover.name}}" id="{{form.cover.id_for_label}}">
    <input type="text" name="{{form.name.name}}" id="{{form.name.id_for_label}}" placeholder="Name">
    <input type="submit" value="upload">
  </form>
</body>

</html>
