<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="/static/css/main.css">
	<link rel="stylesheet" href="/static/css/list-image.css">
    <title>Upload images</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/upload_image.css">
</head>
<body>
  {% include 'nav.html' %}
  <input  id="file" type="file" name="myFile">
  <form id="form" method="post" enctype="multipart/form-data" class="box" action="{% url 'login' %}">
    {% csrf_token %}
    <input name="fullname" placeholder="Name" type="text" class="form-control">
    <input type="submit">
  </form>
</body>

</html>
