/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
}

@media (max-width: 400px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #272725;
  background-color: #2ecc71;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #29b765}

.button:active {
  background-color: #29b765;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button_delete {
  display: inline-block;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #272725;
  background-color: red;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button_delete:hover {background-color: #29b765}

.button_delete:active {
  background-color: darkred;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
a{
  text-decoration: none;
  color: #272725;
}
.textarea{
  margin-top: 125px;
  border: 1px solid #2ecc71;
  border-radius: 15px;
  outline: none;
  background-color: inherit;
  resize: vertical;
  padding: 10px;
  color: #2ecc71

}
.img{
  margin-top: 50px;
  margin-left: 50px;
  border-radius: 25px;
  border: 2px solid #2ecc71;
  width: 500px;
  height: 300px;
}
